@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Set a default background for the scene */
.root {
    -fx-background-color: #f0f0f0;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-text-color: white;
    -fx-font-family: "Roboto";
}

/* Style for buttons */
.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.background {
    -fx-background-color: linear-gradient(to right, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 48%, rgb(36, 36, 62) 88%);
}
.border {
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-border-insets: 0;
}
.button-cell {
    -fx-border-width: 1px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
.button-cell:hover {
    -fx-background-color: rgba(255, 255, 255, 0.15);
}

.button:hover {
    -fx-background-color: #45a049;
}

.button:pressed {
    -fx-background-color: #388E3C;
}

/* Style for labels */
.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}

/* Style for text fields */
.text-field {
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-border-color: #aaa;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.text-field:focused {
    -fx-border-color: #4CAF50;
}

/* Style for text areas */
.text-area {
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-border-color: #aaa;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

/* Style for checkboxes */
.check-box {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

/* Style for combo boxes */
.combo-box {
    -fx-font-size: 14px;
    -fx-border-color: #aaa;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.combo-box:focused {
    -fx-border-color: #4CAF50;
}
